<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= name %></title>

    <meta charset="utf-8">

    <meta name="go-import" content="go.n16f.net/<%= id %> git https://github.com/galdor/<%= name %>.git">
    <meta name="go-source" content="go.n16f.net/<%= id %> https://github.com/galdor/<%= name %> https://github.com/galdor/<%= name %>/tree/master{/dir} https://github.com/galdor/<%= name %>/blob/master{/dir}/{file}#L{line}">
  </head>

  <body>
    <h1><%= name %></h1>

    <ul>
      <li><a href="https://github.com/galdor/<%= name %>">GitHub</a></li>
      <li><a href="https://pkg.go.dev/go.n16f.net/<%= id %>">Documentation</a></li>
    </ul>
  </body>
</html>
